:root {
    --color-white: #ffffff;
    --color-black-light: #00000034;
    --color-black-average: #000000bd;
    --color-black: #000000a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #0000001a;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    min-width: 320px;
    height: 400px;
    padding: 2rem;
    border-radius: 10px;
    margin: 0 1rem;
    background-color: var(--color-white);
    box-shadow: 0px 13px 7px 5px var(--color-black-light);
}

.container h2 {
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 2rem;
}

#form {
    display: flex;
    flex-direction: column;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin-bottom: 1rem;
}

.labels-box {
    display: flex;
    align-items: flex-end;
    gap: .3rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: var(--color-black);
}

.labels-box p {
    font-size: .7rem;
}

.form-inputs input {
    padding: 1rem .5rem;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--color-black-light);
    font-size: 1.1rem;
    font-weight: bold;
    outline: 0;
    color: #000000bd;
    transition: 500ms;
}

.form-inputs input:focus {
    border-bottom: 1px solid #030000;
}

.form-inputs input::placeholder {
    font-size: .8rem;
    font-weight: 500;
    color: #00000062;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.control-buttons button {
    width: calc(50% - .3rem);
    padding: 1rem 0;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: .8rem;
    opacity: .9;
    box-shadow: 1px 1px 1px 1px var(--color-black-light);
    color: var(--color-white);
    text-decoration: solid;
}

.control-buttons #btn-calculator {
    background-color: rgb(77, 200, 238);
}

.control-buttons #btn-reset {
    background-color: rgb(238, 77, 77);
}

.control-buttons #btn-calculator:hover {
    opacity: 1;
}

.control-buttons #btn-reset:hover {
    opacity: 1;
}

/* Tabela de Resultados */
#form-result {
    display: none;
}

#result {
    margin-bottom: 1rem;
}

#result p {
    font-weight: bold;
    text-align: center;
}

#result #imc-number {
    font-size: 1.5rem;
    margin-bottom: .4rem;
}

#result #imc-info {
    font-size: 1rem;
    color: #0000009c;
}

/* Table */
#table {
    border-collapse: collapse;
    border: 1px solid var(--color-black-light);
}

/* Head */
.header-columns {
    padding: .6rem 1rem;
    text-align: left;
    border-bottom: 1px solid var(--color-black-light);
    font-weight: bolder;
    font-size: .870rem;
}

.table-data {
    border: 1px solid var(--color-black-light);
}

.table-line {
    padding: .5rem 1rem;
    font-size: .7rem;
}

.bi, .bi-arrow-return-left {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: .7rem;
    padding: .5rem;
    cursor: pointer;
}

.bi, i {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0000ff;
}

.bi i, p {
    font-size: 1rem;
}

.good {
    color: #12db34;
}

.low {
    color: #dbce12;
}

.midium {
    color: #ff6600;
}

.high {
    color: #db1912;
}

@media (min-width: 350px) and (max-width: 450px) {

    .container {
        min-width: auto;
        height: 400px;
        padding: .5rem;
        margin: 1rem .5rem;
    }

    .labels-box {
        font-size: 1.25rem;
    }

    .labels-box p {
        font-size: .8rem;
    }

    /* table */
    .header-columns {
        font-size: 1rem;
    }

    .table-line {
        font-size: .8rem;
    }
}